<head>
    <style media="screen">
        .loading-text{
            position: relative;
            top: -50px;
        }
        .loading-video{
            position: absolute;
        }
    </style>
</head>
<body>
    <div id="loading">
        <div class="loading_box">
            <div id="loading-video">
            <video width="400" height="600" muted autoplay loop>
                <source src="{{'/assets/img/ai_emoji_wm.webm'}}" type="video/mp4">
            </video>
            </div>
            <div id="loading-text">
            <p>Now Loading ...</p>
            </div>
        </div>
    </div>
</body>

<!-- <img src="{{ '/assets/img/loading.webp' }}"> -->
<!--  ai_emoji.webp -->
<!-- <img src="{{ '/assets/img/ai_emoji_wm.webm' }}">  -->
